.reveal table {
    margin-top: 2em;
}

.reveal table td {
    border: none;
    /* font-size: 16pt; */
    text-align: center;
}

.reveal table tr:first-child {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.reveal table td:first-child {
    border-right: 1px solid #eee;
}

.reveal table tr:last-child {
    border-bottom: 1px solid #eee;
}

.reveal section {
    text-align: left;
}

.reveal #sec-title-slide {
    text-align: center;
}

.reveal ul ul li p:not(:first-child) {
    font-size: 18pt;
    line-height: 0.5em;
}

.reveal .author {
    font-size: 2em;
}

.reveal .date {
    font-size: 1.5em;
}
